@import "node_modules/bootstrap/dist/css/bootstrap.min.css";
html, body {
    font-family: Arial, "Helvetica CY", "Nimbus Sans L", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    color: #445B78;
}

/*Styles for link article headers*/
.btn-blue {
    padding: 0 10px;
    background: #1B6DFF;
    border-radius: 1000px;
    font-size: 0.875rem;
    color: #FFFFFF;
    text-decoration: none;
    transition: background 0.5s, transform 0.5s;
}

.btn-blue:hover {
    color: #FFFFFF;
    background: #84a1d2;
    transform: scale(1.1);
}

a {
    font-size: 0.8125rem;
    color: #3880FF;
    transition: color 0.5s, transform 0.5s;
}

a:hover {
    text-decoration: none;
    color: #84a1d2;
    transform: scale(1.1);
}

h1, h3, h5 {
    font-weight: 700;
    color: #03060B;
}

h1 {
    font-size: 5.5rem;
    line-height: 1;
}

h3 {
    font-size: 3.75rem;
}

h5 {
    font-size: 1.25rem;
}

@media (max-width: 575px) {
    h1 {
        font-size: 4.4rem;
    }

    h3 {
        font-size: 3rem;
    }
}

@media (max-width: 349px) {
    h1 {
        font-size: 3.3rem;
    }

    h3 {
        font-size: 2rem;
    }
}

/*-----------header-------------*/
header .btn-blue {
    padding: 8px 11px;
}

header .navbar {
    padding: 0;
}

header .navbar-brand {
    padding-top: 18px;
    padding-bottom: 18px;
}

header .row {
    padding-top: 26px;
    padding-bottom: 26px;
    font-size: 0.6875rem;
    color: #DEE3EA;
}

header .row .col-xl-2 {
    text-align: center;
    text-transform: uppercase;
    color: #0054E9;
}

@media (max-width: 1199px) {
    header .row .col-8 {
        text-align: right;
    }
}

header .header-bg {
    position: sticky !important;
    top: 20px;
    background: rgba(255, 255, 255, 0.92);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.nav-item {
    color: #2D4665;
}

header .navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 20px;
    padding-left: 20px;
}

header .navbar-expand-lg .navbar-nav .nav-link.nav-right {
    padding-right: 8px;
    padding-left: 8px;
}

header .navbar-nav .nav-item .nav-link {
    font-size: 0.875rem;
    color: #2D4665;
}

header .navbar-nav .nav-item.e-book {
    padding: 8px 4px 8px 10px;
    font-size: 0.625rem;
    text-transform: uppercase;
    color: #CDDFFF;
}

@media (max-width: 1199px) {
    header .navbar-expand-lg .navbar-nav .nav-link {
        padding-right: 8px;
        padding-left: 10px;
    }

    header .navbar-expand-lg .navbar-nav .nav-link.nav-right {
        padding-right: 5px;
        padding-left: 8px;
    }

    header .navbar-nav .nav-item.e-book {
        padding-right: 10px;
        padding-left: 10px;
    }
}

/*Styles for Overview, Build / Secure / Deliver Case studies, Resources*/
.head-style {
    font-family: 'Roboto Mono', monospace;
    font-size: 0.8125rem;
    line-height: 0.6124rem;
    text-transform: uppercase;
    color: #92A0B3;
    margin-bottom: 25px;
}

/*-----------section-1-------------*/
.section1 {
    background-image: url(../images/section_1/section_1_png.png);
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    min-height: 1120px;
}

.section1 .row > .header-col {
    margin-top: 81px;
}

.section1 .row > .header-col p {
    font-size: 1.25rem;
    line-height: 32px;
    margin-top: 66px;
}

.section1 .inner-col .row {
    margin-top: 42px;
}

.section1 .inner-col .row a {
    font-weight: 700;
    margin-left: 21px;
}

.section1 .btn.btn-blue {
    color: #FFFFFF;
    margin-left: 15px;
}

@media (max-width: 1200px) {
    .section_1_png {
        max-width: 100%;
    }
}
@media (max-width: 575.98px) {
    .section1 {
        background-image: none;
        min-height: 100%;
        margin-bottom: 100px;
    }
}


/*---------------section-2------------------*/
.section2 {
    margin-top: 35px;
}

.section2 .row .col-lg-6 > img {
    margin-top: -75px;
    margin-bottom: 65px;
}

.section2 .row .col-lg-6:first-of-type {
    padding-right: 95px;
}

@media (max-width: 1200px) {
    .section2 .row .col-lg-6 > img {
        margin-top: 0;
        max-width: 100%;
    }

    .section2 .row .col-lg-6:first-of-type {
        padding-right: 15px;
    }
}

@media (max-width: 991px) {
    .section2 .row .col-lg-6 > img {
        margin-top: 0;
        margin-bottom: 0;
        max-width: 100%;
    }

    .section2 .row .col-lg-6:first-of-type {
        padding-right: 15px;
    }
}

/*-----------section-3-------------*/
.section3 {
    margin-top: 65px;
}
@media (max-width: 575.98px) {
    .section3 .slide-left div.block, h5  {
        text-align: center;
    }
}

/*-----------section-4-------------*/
.section4 {
    margin-top: 198px;
}

@media (max-width: 575.98px) {
    .section4 .container{
        padding: 0 30px;
    }
    .section4 .slide-right {
        min-width: 58px;
        text-align: center;
    }

}

/*-----------section-5-------------*/
.section5 {
    margin-top: 265px;
}

.section5 .block-bg {
    min-height: 100%;
}

.section5 .row:last-of-type {
    margin-top: 101px;
}
@media (max-width: 575.98px) {
    .section5 .slide-left div img{
        display: block;
        margin: 0 auto;
    }

}

/*-----------section-6-------------*/
.section6 {
    margin-top: 240px;
}

.section6 p.right-col {
    margin-top: 26px;
    padding: 0 120px 0 0;
}

.section6 .row.col-align {
    margin-top: 17px;
    padding-left: 15px;
}

.section6 .row.col-align img:not(:last-of-type) {
    margin-right: 40px;
}

.section6 .amtrak {
    border-radius: 32px;
    background: url(../images/section_2/train_bckgrnd.png) no-repeat center;
    position: relative;
    background-size: cover;
}

.section6 .amtrak {
    padding: 200px 48px 48px 48px;
}

.section6 .amtrak p {
    margin-top: 26px;
    color: #FFFFFF;
}

.section6 .amtrak .btn-blue {
    background: rgba(255, 255, 255, 0.2)
}

@media (max-width: 991px) {
    .section6 p.right-col {
        padding: 0;
    }
}

/*-----------section-8-------------*/
.section8 {
    margin-top: 240px;
}

.section8 .visit-style {
    padding: 20px 35px 0;
}

.section8 .row:last-of-type {
    margin-top: 100px;
}

.block-bg {
    min-height: 192px;
    background-color: #F6F8FC;
    border-radius: 16px;
}

.section8 .row:last-of-type h5 {
    margin-top: 31px;
    margin-bottom: 20px;
}

.section8 .row:last-of-type p {
    padding-right: 20px;
}

@media (max-width: 575px) {
    .section8 .visit-style {
        padding: 15px;
    }
}

/*-----------section-9-------------*/

.section9 .row {
    margin: 0;
}

.section9 h5 {
    font-size: 2rem;
    margin: 30px;
    color: #e8f5ff;
}

.section9 .left-col {
    background-color: #425d8d;
    min-height: 200px;
    justify-content: end;
}

.section9 .right-col {
    background-color: #e8f5ff;
    min-height: 200px;
}

.section9 .right-col a {
    font-weight: 700;
}

.section9 .right-col {
    padding-left: 30px;
}

.section9 h5, a, .btn-blue {
    z-index: 10;
}

.section9::before {
    content: url(../images/section_3/img_5.png);
    position: relative;
    z-index: 1;
    top: 120px;
    left: 5px;
}

.section9::after {
    content: url(../images/section_3/img_6.png);
    position: relative;
    z-index: 1;
    top: -175px;
    left: calc(100% - 165px);
}



/*-----------Bottom footer-------------*/
.bottom_footer {
    margin-top: 45px;
}

.footer__info {
    display: flex;
    margin-inline-start: 20rem;
    margin-block-start: 20rem;
}

.footer_cop {
    color: rgb(146, 160, 179);
    font-size: 0.8125rem;
    margin-inline-end: 0.75rem;
    list-style-type: none;
    padding: 0;
}

.footer_cop li a {
    color: rgb(146, 160, 179);
    font-size: 0.8125rem;
    margin-inline-end: 0.75rem;
    list-style-type: none;
}

.footer {
    margin-top: -100px;
}

.icon:hover {
    filter: drop-shadow(0 0 10px #425d8d);
}

.icon:hover path {
    fill: #425d8d;
}

@media (max-width: 768px) {
    .section4 .container > .row {
        margin-top: 100px;
    }

    .section5 {
        margin-top: 165px;
    }

    .section5 .row:last-of-type {
        margin-top: 51px;
    }

    .section6 {
        margin-top: 140px;
    }

    .section8 {
        margin-top: 140px;
    }

    .section8 .row:last-of-type {
        margin-top: 50px;
    }

    .section9 {
        margin-top: -100px;
    }
}
@media (max-width: 575.98px) {
    .section9{
        margin: 100px 0;
    }
    .section9 .left-col, .right-col {
        justify-content: center;
    }
    .footer {
        margin-top: 0;
    }
    .section9::after, .section9::before {
        display: none;
    }
}
